.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: #282c34;
  min-height: 80vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.flat-button {
  background: transparent;
  color: #fff;
  padding: 10px 15px;
  border: solid 1px #fff;
}

.review-header {
  border-bottom: solid 1px #fff;
  width: 350px;
}

.review-header > .title {
  margin-bottom: 20px;
}

.review-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.review-body {
  width: 350px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  margin-bottom: 20px;
}

.review-body > .title,
.review-container > .title {
  margin-bottom: 20px;
}

.review-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.review-container > .subheading {
  font-size: 0.7em;
  margin-bottom: 20px;
}

.review-container > textarea {
  background: transparent;
  border: solid 1px #fff;
  height: 100px;
  color: #ffffff;
  margin-bottom: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
